$darkblue: #2C3E50;

span.fui {
  margin-right: 10px;
}
span.label {
  margin: auto 2px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: lighten(#2C3E50, 10%);
}

h6 {
  font-size: 22px;
}

.col-nopadding {
  padding-left: 0;
  padding-right: 0;
}

/* Base */
.col-sidebar {
  background: $darkblue;
  .intro {
    a {
      color: lighten($darkblue, 50%);
    }
    padding: 20px;
    h3, h6 {
      color: lighten($darkblue, 80%);
    }
  }
  h6 {
    font-size: 18px;
    margin-top: 50px;
    margin-left: 20px;
    color: lighten($darkblue, 80%);
  }
  table {
    tr:first-child {
      background: lighten($darkblue, 20%);
    }
    td {
      padding: 5px 20px !important;
      color: lighten($darkblue, 60%);
      font-size: 16px;
      border-color: transparent !important;
    }
  }
}

/* Medals */
table.players {
  tr:nth-child(1) td:first-child:before {content: "\f0a3";font-family: FontAwesome; font-style: normal; font-weight: normal; color: gold; margin-right: 10px;}
}

table.players, table.topscorers {
  tr td:first-child:before {content: "\f0a3";font-family: FontAwesome; font-style: normal; font-weight: normal; color: lighten($darkblue, 10%); margin-right: 10px;}
}

.match {
  background: white;
  margin: 25px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);

  /* Match Passed */
  &.match-future {
    .block-green, .block-default, .block-blue {
      background: #ccc !important;
      color: #eee;
    }
  }

  /* Match First */
  &.match-first {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.meta {
  padding: 0 20px;
  background: $darkblue;
  font-size: 16px;
  color: lighten($darkblue, 50%);
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Team */
.teams {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-flow: column nowrap;
  align-items: stretch;
  list-style: none;
  background: #eee;
}
.team {
  position: relative;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  flex-grow: 1;
  padding: 25px;
  h5, h6 {
    color: #666;
    margin: 0 auto;
  }
  img {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
  }

  .score {
    position: absolute;
    background: rgba(200,200,200, 0.2);
    right: 0;
    top: 0;
    bottom: 0;
    color: rgba(100,100,100, 0.5);
    h1 {
      margin: 20px;
    }
  }
}

/* Blocks */
.blocks {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-flow: row;
  align-items: stretch;
}

.block {
  flex-grow: 1;
  padding: 10px 25px;

  h2 {
    font-size: 42px;
  }

  &.block-team {
    padding: 0;
    flex: 0 0;
    flex-grow: 35;
  }
  &.block-green {
    background: #2ecc71;
    color: white;
    .label {
      background: white !important;
      color: #2ecc71;
    }
  }
  &.block-green-border {
    background: linear-gradient(to bottom, rgba(46,204,113,1) 0%,rgba(117,234,166,1) 100%);
    color: white;
    .label {
      background: white !important;
      color: #2ecc71;
    }
  }
  &.block-default {
    background: #75EAA6;
    color: lighten(#75EAA6, 15%);
    min-height: 200px;
  }
  &.block-orange {}
  &.block-blue {background: #3498db; color: white;}
  &.block-full {width: 100%; text-align: center;}
}

/* Queries */
@media only screen and (max-width : 1600px) {
  .flag {
    display: none;
  }
  .teams {
    flex-flow: row;
    .team {
      .score {
        position: relative;
        background: transparent;
      }
    }
  }
  .blocks {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width : 1600px) {
}

@media only screen and (max-width : 1700px) {
  .blocks {
    .block-team {
      background: red;
      flex-grow: 100 !important;
    }
  }
}