{% extends "app.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-height col-sm-5 col-lg-2 col-nopadding col-sidebar">
            <div class="intro">
                <h3>EK 2016</h3>
                <p><a target="_blank" href="https://github.com/notflip/EK">Fork me on <i class="fa fa-github"></i> Github</a></p>
            </div>

            {% if(players|length) > 0 %}
            <table class="table players">
                {% for player in players|sortbyscore %}
                <tr>
                    <td>{{ player.name|title }}</td>
                    <td>{{ player.points }}</td>
                </tr>
                {% endfor %}
            </table>

            <h6>Topscorers</h6>
            <table class="table topscorers">
                {% for player in players|sort %}
                <tr>
                    <td>{{ player.name|title }}</td>
                    <td>{{ player.topscorer }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        <div class="col-height col-sm-7 col-lg-10 col-nopadding">
            {% for match in matches %}
            <div class="row match {% if not match.passed %} match-future {% endif %}">
                <div class="col col-md-12 col-nopadding">
                    <div class="meta">
                        {{ match.date|localizeddate('none', 'none', 'nl_NL', null, "cccc d MMMM Y H:mm") }}
                    </div>
                    {% if match.bets|length > 0 %}
                    <ul class="blocks">
                        <li class="block block-team">
                            <ul class="teams">
                                <li class="team">
                                    <h6><img class="flag" width="25" src="/img/flags/{{ match.homecode }}.svg" /><span>{{ match.hometeam }}</span></h6>
                                    {% if(match.passed) %}
                                        <div class="score">
                                            <h1>{{ match.homescore }}</h1>
                                        </div>
                                    {% endif %}
                                </li>
                                <li class="team">
                                    <h6><img class="flag" width="25" src="img/flags/{{ match.awaycode }}.svg" /><span>{{ match.awayteam }}</span></h6>
                                    {% if(match.passed) %}
                                        <div class="score">
                                            <h1>{{ match.awayscore }}</h1>
                                        </div>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                        {% for bet in match.bets %}
                        <li class="block {% if(bet.points) == 1 %} block-green-border {% elseif(bet.points == 3) %} block-green {% else %} block-default {% endif %}">
                            <h2>{{ bet.homescore }}-{{ bet.awayscore }}</h2>
                            <p>{{ bet.player }}</p>
                            {% if(bet.points) %}
                                {% autoescape false %}
                                    <p><span class="label"><i class="fa fa-star"></i> {{ bet.points }}</span></p>
                                {% endautoescape %}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
