{% extends "app.html" %}
{% block content %}
<div class="container-fluid">
    {% for day, match in matches %}
        <h2>Matchdag {{ day }}</h2>
        <ul class="list-group">
            {% for item in match %}
                <div class="row match">
                    <div class="col col-md-4">
                        <h6>{{ item.getHomeTeam() }} - {{ item.getAwayTeam() }}</h6>
                        {{ item.getDate()|localizeddate('none', 'none', 'nl_NL', null, "cccc d MMMM Y H:mm") }}
                    </div>
                    <div class="col col-md-4">
                        {% if item.getPlayers()|length > 0 %}
                            {% for player,score in item.getPlayers() %}
                            <div class="block block-green">
                                <h2>{{ score }}</h2>
                                <p>{{ player }}</p>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col col-md-2 col-md-offset-2">
                        <div class="block block-blue block-full">
                            <h2>{{ item.getResult() }}</h2>
                            <small>{{ item.getHomeCode() }} - {{ item.getAwayCode() }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}