{% extends "app.html" %}
{% block content %}

<section class="section-blue">
    <div class="container">
        <h3>EK 2016</h3>
        {% if(players|length) > 0 %}
        <table class="table">
            {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.points }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</section>

<div class="container-fluid">
    {% for match in matches %}
    <div class="row match">
        <div class="col col-md-3">
            <h6>{{ match.hometeam }} - {{ match.awayteam }}</h6>
            {{ match.date|localizeddate('none', 'none', 'nl_NL', null, "cccc d MMMM Y H:mm") }}
            {% if(match.winner) %}
                <div class="text-success"><span class="glyphicon glyphicon-star"></span> {{ match.winner }}</div>
            {% endif %}
        </div>
        <div class="col col-md-7 col-nopadding">
            {% if match.bets|length > 0 %}
                {% for bet in match.bets %}
                <div class="block block-green">
                    <h2>{{ bet.homescore }}-{{ bet.awayscore }}</h2>

                    <p>{{ bet.player }}</p>
                    {% if(match.passed) %}
                        {% if(bet.points) %}
                            {% autoescape false %}
                                <p><span class="label label-warning"><i class="glyphicon glyphicon-star"></i> {{ bet.points }}</span></p>
                            {% endautoescape %}
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            {% endif %}

        </div>
        <div class="col col-md-2 col-nopadding">
            <div class="block block-blue block-full">
                <h2>{{ match.homescore }} - {{ match.awayscore }}</h2>
                <small>{{ match.homecode }} - {{ match.awaycode }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}